<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CURATE</title>
  </head>
  <body>
    <div class="show-container">
      TITLE: <%=pieces.title %> <br/>
      ARTIST: <%=pieces.artist %> <br/>
      <img src="<%=pieces.img %>" alt="img" />
      <div class="show-nav">
        <a href="/curate">HOME</a>
        <a href="/curate/<%=pieces.id %>/edit">EDIT</a>
        <form action="/curate/<%=pieces.id%>?_method=DELETE" method="POST">
          <input type="submit" value="DELETE">
        </form>
      </div>
    </div>
  </body>
</html>
